:root {
  /*1,3为主要背景*/
  --color1: #FAFAFA;
  --color3: #f0f0f7;
  /*2为背景蒙版*/
  --color2: rgba(255, 255, 255, 0.1);
  /*4为阴影色*/
  --color4: #888888ef;
  /*5为文字颜色*/
  --color5: #2e2e2e;
  /* --color6: #5f90da; */
  --color6: #335a94;
}

.svgshadow {
  transform: translateX(-50000px);
  filter: drop-shadow(var(--color5) 50000px 0);
}

/*音乐播放器调色*/
.aplayer .aplayer-lrc p {
  font-size: 14px;
  font-weight: lighter;
  color: #85C9FF;
}

.aplayer.aplayer-fixed .aplayer-lrc {
  text-shadow: -1px -1px 0 #37536b00;
}

body {
  opacity: 0.85;
  background-color: var(--color1);
  background-image: url('../img/background.svg#svgView(preserveAspectRatio(none))');
  background-size: 100% 100%;
  background-attachment: fixed;
  cursor: url("../img/paperplane1.svg"), progress;
  color: var(--color5);
}

/*边框区域线*/
.bk {
  border: rgb(44, 79, 109) solid 1px;
}

.overlay {
  position: fixed;
  background-color: var(--color2);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
}

.lockscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  display: none;
  font-size: 90px;
}

/*m-表示外层css*/
.m-top {
  display: block;
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  height: 6%;
  margin: 0 auto;
  margin-top: 0%;
  background: var(--color3);
  z-index: 9;
  box-shadow: 0px -2px 15px 1px var(--color4);
}

.m-top .row {
  z-index: 90;
}

.m-top .person {
  position: absolute;
  left: 1%;
  top: 10%;
}

.m-top img {
  width: 3%;
  height: 3%;
}

.m-top .name {
  position: absolute;
  top: 25%;
  left: 5%;
  font-weight: 900;
  font-size: 20px;
}

.m-top .lock {
  position: absolute;
  top: 10%;
  left: 90%;
  z-index: 94;
}

.m-top .github {
  position: absolute;
  top: 10%;
  left: 95%;
  z-index: 95;
}

.m-top .over {
  position: absolute;
  top: 10%;
  left: 100%;
  z-index: 96;
  opacity: 0;
}



.music {
  position: absolute;
  top: -20%;
  left: 80%;
  width: 17.5%;
  height: 10%;
  display: flex;
}

.music span {
  width: 2%;
  border-radius: 18px;
  margin-right: 6px;
}





/*隐藏滚动条提升视觉体验*/
.box-hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

/*左侧导航栏*/
.m-lt {
  display: block;
  position: fixed;
  top: 6%;
  left: 5%;
  width: 15%;
  height: 95%;
  background: var(--color3);
  border-right: #888888 solid 1px;
  box-shadow: 0px -2px 15px 1px var(--color4);
}

.m-lt-out {
  position: relative;
  height: 100%;
  overflow: auto;
}


.m-lt-person {
  font-size: 120%;
  margin-left: 0%;
  width: 100%;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 20%;
  background-color: var(--color1);
}

.m-lt-person img {
  width: 25%;
}

.m-lt-per {
  position: absolute;
  top: 3%;
  left: 40%;

}

.m-lt-name {
  font-size: 17px;
}

.m-lt-sign {
  font-size: 14px;
}

.m-lt-title {
  color: #8dacba;
  font-size: 15px;
  padding-left: 4%;
  background-color: var(--color1);
}

.m-lt-card {
  text-align: start;
  font-size: 100%;
  font-weight: lighter;
  margin-left: 0%;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: var(--color1);
  border: none;
  color: var(--color5);
}

.m-lt-card img {
  padding-left: 5%;
  width: 15%;
}

.open img {
  width: 15%;
  float: right;
}

.collapse .m-lt-card {
  padding-left: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-lt-cardnone {
  opacity: 0;
}



/*中间文章区域*/
.m-md {
  display: block;
  position: fixed;
  top: 6%;
  left: 20%;
  width: 62%;
  height: 94%;
  background: var(--color3);
}

.m-md-out {
  position: relative;
  height: 100%;
  overflow: auto;
}

.copyright {
  /* position: fixed; */
  margin-bottom: 1%;
}


/*右侧列表*/
.m-rt {
  display: block;
  position: fixed;
  top: 6%;
  left: 82%;
  width: 13%;
  height: 65%;
  box-shadow: 2px 0px 15px -1px var(--color4);

}

.m-rt-out {
  position: relative;
  height: 100%;
  overflow: auto;
  background-color: var(--color1)
}

.p-list {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*右下回顶部*/
.m-rtbt {
  display: block;
  position: fixed;
  top: 85%;
  left: 95%;
  width: 5%;
  height: 0%;
}

.backtop {
  position: absolute;
  margin-top: 0%;
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border-radius: 100px;
  background-color: var(--color1);
}

.moon {
  position: absolute;
  margin-top: 60%;
  width: 50%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  border-radius: 100px;
  background-color: var(--color1);
}

.m-rtbt img {
  position: relative;
  width: 100%;
  height: 50%;
}



.lockscreen {
  position: absolute;
  text-align: center;
  font-size: 150px;
  display: none;
  align-items: center;
  justify-content: center;
}











/*动画*/


.colorfulword {
  background: -webkit-linear-gradient(135deg,
      #0eaf6d,
      #ff6ac6 25%,
      #147b96 50%,
      #e6d205 55%,
      #2cc4e0 60%,
      #8b2ce0 80%,
      #ff6384 95%,
      #08dfb4);
  /* 文字颜色填充设置为透明 */
  -webkit-text-fill-color: transparent;
  /* 背景裁剪，即让文字使用背景色 */
  -webkit-background-clip: text;
  /* 背景图放大一下，看着柔和一些 */
  -webkit-background-size: 200% 200%;
  /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
  -webkit-animation: flowCss 20s infinite linear;
}

@-webkit-keyframes flowCss {
  0% {
    /* 移动背景位置 */
    background-position: 0 0;
  }

  100% {
    background-position: -400% 0;
  }
}

.colorfulword:hover {
  -webkit-animation: flowCss 4s infinite linear;
}


/*音乐律动*/
.music span:nth-child(1) {
  animation: bar1 2s 0.2s infinite linear;
  background: #f677b0;
}
.music span:nth-child(2) {
  animation: bar1 2s 0.4s infinite linear;
  background: #df7ff2;
}
.music span:nth-child(3) {
  animation: bar1 2s 0.6s infinite linear;
  background: #8c7ff2;
}
.music span:nth-child(4) {
  animation: bar1 2s 0.8s infinite linear;
  background: #7fd0f2;
}
.music span:nth-child(5) {
  animation: bar1 2s 1.0s infinite linear;
  background: #7ff2d3;
}
.music span:nth-child(6) {
  animation: bar1 2s 1.2s infinite linear;
  background: #7ff2a0;
}
.music span:nth-child(7) {
  animation: bar1 2s 1.4s infinite linear;
  background: #adf27f;
}
.music span:nth-child(8) {
  animation: bar1 2s 1.6s infinite linear;
  background: #e7f27f;
}
.music span:nth-child(9) {
  animation: bar1 2s 1.8s infinite linear;
  background: #ecaa64;
}
@keyframes bar1 {
  0% {
    margin-top: 15%;
    height: 0%;
  }

  50% {
    margin-top: 7.5%;
    height: 700%;
  }

  100% {
    margin-top: 15%;
    height: 0%;
  }
}