:root {
    /*1,2为下方4模块选择颜色*/
    --color1: #000000;
    --color2: #05C160;
  }


body {
    /* opacity: 0.85;
    background-color: var(--color1);
    background-image: url('../img/background.svg#svgView(preserveAspectRatio(none))');
    background-size: 100% 100%;
    background-attachment: fixed;
    color: var(--color5); */
    /* width: 100%;
    margin: 0;
    padding: 0; */
    background-color: rgb(0, 179, 255);
}

.container {
    /* width: 100%;
    background-color: lightgreen;
    border: 1px solid black; */

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(0, 179, 255);
}

.md-md{
    height: 95%;
    background-color: #FFFFFF;
}


/* map css */
.md-md-map {
    position: absolute;
    background-color: #000000;
}
.map-map {
    margin-top: 0%;
    position: absolute;
}

.map-mapset {
    width:100%;
    height: 95%;
    position: absolute;

}
/* weather css */

.weather-weatherset {
    width:100%;
    height: 95%;
    display: flex;
    position: absolute;
}
.md-md-weather {
    position: absolute;
    background-color: #000000;
}



.weatherset-top{
    height: 5%;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

.weather-top-button {
    width: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.weather-top-button img {
    padding-top: 2%;
    width: 25%;
    height: 45%;
}

.weather-bing {
    width: 50%;
    height: 50%;
}

.weather-bing-title {
    margin-top: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border: #000000 dashed 4px;
    background-color: rgb(209, 255, 173);
    font-size: 30px;
}

.weather-bing-picture{
    /* margin-right: 50%; */

    /* height: 20%; */
    /* background-color: rgb(180, 182, 179); */
}

.weather-bing-picture img{
    background-color: #000000;
    margin-left: 8%;
    width: 100%;
    height: 100%;
}

.weather-QRcode {
    height: 50%;
}

.qrcode {
    height: 50%;
    width: 50%;
}


/* history css */
.md-md-history {
    position: absolute;
}

/* setting css */
.md-md-setting {
    position: absolute;
}
.setting-settingset {
    width:100%;
    height: 95%;
    display: flex;
    position: absolute;
    /* background-color: #000000; */
}
.setting-container {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    border-bottom: #F7F7F7 dashed 5px;    
}
.setting-container2 {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 12px;
    border-bottom: #F7F7F7 dashed 5px;    
}


.setting-page {
    background-color: #05C160;
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}

.setting-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting-page-button {
    display: flex;
    margin-top: 170%;
    justify-content: center;
    align-items: center;
    background-color: #0eaf6d;
    justify-content: space-around;
}
.setting-page-enter {
}
.setting-page-close {
}



.colorfulword {
    background: -webkit-linear-gradient(135deg,
        #0eaf6d,
        #ff6ac6 25%,
        #147b96 50%,
        #e6d205 55%,
        #2cc4e0 60%,
        #8b2ce0 80%,
        #ff6384 95%,
        #08dfb4);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    -webkit-background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    -webkit-background-size: 200% 200%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    -webkit-animation: flowCss 20s infinite linear;
  }

.setting-person {
    flex: 2;
    border-bottom: #F7F7F7 dashed 5px;
}
.setting-person-font {
    font-size: 20px;
    border-bottom: #F7F7F7 dashed 5px;
}
.setting-person-picture {
    
}
.setting-person-picture img {    
    background-color: rgb(218, 237, 237);
    border-radius: 100%;
    width: 100px;
}
.setting-person-button {
    width: 100px;
}


/* 按钮css */
.md-bt{
    height: 5%;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.md-bt-button {
    width: 100%;
    text-align: center;
    /* background-color: #4CAF50;     */
    color: white;
}
.md-bt-button img {
    /* background-color: #4CAF50;  */
    width: 25%;
    height: 45%;
    /* border-radius: 15%; */
}